<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWS Output</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 id="flightHeader">Demo running via AWS</h1>

          <select class="form-control" id="corpChoose">
            <% list.forEach(corp => { %>
            <option value="<%= Object.keys(corp)%>"><%= Object.keys(corp)%></option>
            <% }) %>
          </select>

          <select class="form-control" id="droneChoose">
            <option value="MK-1">MK-1</option>
            <option value="MK-2">MK-2</option>
            <option value="MK-3">MK-3</option>
          </select>

          <select class="form-control" id="statusChoose">
            <option value="TkOff">Take Off</option>
            <option value="idle">Idle</option>
          </select>

          <button class="btn btn-primary" id="flightToggle">Toggle Flight</button>
        </div>
        <div class="col-md-6">
          <code id="coder"><%= JSON.stringify(data,undefined, 2) %> </code>
        </div>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
  <script>
    async function postData(url = "", data = {}) {
      const response = await fetch(url, {
        method: "POST",
        mode: "cors",
        cache: "no-cache",
        credentials: "same-origin",
        headers: {
          "Content-Type": "application/json",
        },
        redirect: "follow",
        referrerPolicy: "no-referrer",
        body: JSON.stringify(data),
      });
      return response.json();
    }

    var flightToggleBtn = document.getElementById("flightToggle");
    var corpChooser = document.getElementById("corpChoose");
    var droneChooser = document.getElementById("droneChoose");
    var statusChooser = document.getElementById("statusChoose");

    var coder = document.getElementById("coder");

    flightToggleBtn.addEventListener(
      "click",
      function (event) {
        event.preventDefault();
        postData("http://18.177.141.66:5001/start_flight", {
          corpId: corpChooser.value,
          droneId: droneChooser.value,
          status: statusChooser.value,
        }).then((data) => {
          location.reload();
        });
      },
      false
    );
  </script>
</html>
